body {
	margin: 0;
	font-family: sans-serif;
}

body>header>nav>ul {
	color: red;
	background-color: grey;
	text-align: center;
}


body>header>nav>ul li:hover {
	background-color: red;
}

body>header>nav>ul>li> a{
	display: block;
	padding: 1em;
	color: white;
	text-decoration: none;
}

body>header>nav ul {
	list-style-type: none;
}

li {
	display: inline-block;
	margin-right: -5px;
	padding: 1em;
}

body>header>nav>ul li:active {
	background-color: blue;
}

body>div {
	display: inline-block;
	box-sizing: border-box;
	padding: 1em;
	width: 33%;
	vertical-align: top;
}

@media print {
	body { font-size: 10pt }
	ul { display: none }
	h1, h3 { display: none }
}

@media only screen and (max-width: 600px) {
 
	body>header>nav>ul {
		color: red;
		background-color: grey;
		text-align: center;
	}


	body>header>nav>ul li:hover {
		background-color: red;
	}

	body>header>nav>ul>li> a{
		display: block;
		padding: 1em;
		color: white;
		text-decoration: none;
	}

	body>header>nav ul {
		list-style-type: none;
	}
	
	li {
		display: block;
		margin-right: -5px;
		padding: 1em;
	}

	body>header>nav>ul li:active {
		background-color: blue;
	}

	body>div {
		display: inline-block;
		box-sizing: border-box;
		padding: 1em;
		width: 33%;
		vertical-align: top;
	}

}


